apiVersion: v1
kind: Service
metadata:
  name: hello-service
  namespace: gitops-demo
  labels:
    app: hello-service
spec:
  type: ClusterIP
  selector:
    app: hello-service
  ports:
    - name: http
      port: 80
      targetPort: 5000
      protocol: TCP
